@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans+Condensed:100,200,300,400');

body{
    background-color: #222;
}

h1{
    color: white;
    padding: 20px 40px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, .7);
    display: inline-block;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    border-radius: 4px;
    border-bottom: 5px solid rgba(150, 150, 150, 1);
    font-weight: 500;
    font-family: 'IBM Plex Sans Condensed', sans-serif;
}
h2{
    color: white;
    padding: 20px 40px;
    margin: 0 auto;
    display: inline-block;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    font-weight: 400;
    font-family: 'IBM Plex Sans Condensed', sans-serif;
}

button{
    color: Black;
    padding: 10px 40px;
    margin: 0 auto;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 68%;
    transform: translateY(-50%) translateX(-50%);
    font-weight: 500;
    font-family: 'IBM Plex Sans Condensed', sans-serif;
}
form{
    color: Black;
    padding: 20px 350px;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 48%;
    transform: translateY(-50%) translateX(-50%);
}
input{
    color: Black;
    padding: 9px 40px;
    margin: 0 auto;
    display: inline-block;
    position: absolute;
    border-radius: 2px;
    width: 65%;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    font-weight: 500;
    font-family: 'IBM Plex Sans Condensed', sans-serif;
}
label{
    color: White;
    padding: 10px 40px;
    margin: 0 auto;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 5%;
    font-weight: bold;
    transform: translateY(-50%) translateX(-50%);
    font-weight: 700;
    font-family: 'IBM Plex Sans Condensed', sans-serif;
}
